nav {
  background-color: black;
  padding: 10px;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
}
a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
a:hover {
  text-decoration: underline;
}
